<img src="{{ asset('build/images/header-offoron.png') }}" class="header-admin" alt="header de la page administration">
{# le workflow #}
<h2 class="display-6 text-muted">workflow:</h2>
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='white'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item badge bg-green">Créer Style</li>
        <li class="breadcrumb-item badge bg-green">Créer Groupe</li>
        <li class="breadcrumb-item badge bg-green">Créer Membre</li>
        <li class="breadcrumb-item badge bg-green">Créer Album</li>
    </ol>
</nav>