@mixin pills-design {
    background-color: #26a69a ;
    border: none;
    color: white;
    padding: .1rem .2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}