{% extends 'base.html.twig' %}

{% block title %}{{siteName}}{% endblock %}

{% block body %}
  {% include "_partials/_navbar.html.twig" %}

  <div class="container">
  
  {% for artist in listAllArtists %}
    <offoron-band class="offoronBand"name="{{ artist.name }}" image="{{ artist.mainPicture }}">
      <span slot="description">{{ artist.description }}</span>
    </offoron-band>
  {% endfor %}
  
  
  </div>


{% endblock %}



