{% extends 'base.html.twig' %}

{% block title %}Administration | Offoron records{% endblock %}

{% block body %}
    <div class="container admin">
        <aside>
            <div class="left-column">
                <ul>
                    <a href="" class="create-style"><li>Créer un style de musique</li></a>
                    <a href="" class="create-band"><li>Créer un groupe</li></a>
                    <a href="" class="create-album"><li>Créer un album</li></a>
                    <a href="" class="create-member"><li>Créer un Membre</li></a>
                    <a href="" class="modify-infos-label"><li>Modifier infos label</li></a>
                    <a href="" class="back-to-admin"><li>Admin</li></a>
                </ul>
            </div>
        </aside>
        
        <div class="main-display">
            <img src="{{ asset('build/images/header-offoron.png') }}" alt="header de la page administration">
            <h1 class="h1">Administration</h1>
            <h2 class="h2">workflow:</h2>
            <p>création d'un style > création d'un groupe > ajouts des membres | ajout des albums</p>
        </div>
    </div>
{% endblock %}
