{% extends 'base.html.twig' %}

{% block title %}Administration | Offoron records{% endblock %}

{% block body %}
    <div class="container">
        <nav class="navbar-vertical navbar-glass navbar navbar-expand-xl navbar-light">
        <div class="d-flex align-items-center">
            <div class="toggle-icon-wrapper">
                <button type="button" id="toggleNavigationToolTip" class="navbar-toogler-hmaburger-icon navbar-vertical-toogle btn btn-link">
                    <span class="toggle-icon-wrapper">
                        <span class="toggle-line"></span>
                    </span>
                </button>
            </div>
        </div>
        <aside class="scrollbar collapse navbar-collapse">
            <ul class="navbar-nav flex-column">
                <li class="nav-item"><a aria-expanded="true" class="dropdown-indicator cursor-pointer nav-link"> Créer un style de musique</li></a>
                <li class="nav-item"><a aria-expanded="true" class="dropdown-indicator cursor-pointer nav-link"> Créer un groupe</li></a>
                <li class="nav-item"><a aria-expanded="true" class="dropdown-indicator cursor-pointer nav-link"> Créer un album</li></a>
                <li class="nav-item"><a aria-expanded="true" class="dropdown-indicator cursor-pointer nav-link"> Créer un Membre</li></a>
                <li class="nav-item"><a aria-expanded="true" class="dropdown-indicator cursor-pointer nav-link"> Modifier infos label</li></a>
                <li class="nav-item"><a aria-expanded="true" class="dropdown-indicator cursor-pointer nav-link"> Admin</li></a>
            </ul>
        </aside>
        
        <div class="main-display">
            <img src="{{ asset('build/images/header-offoron.png') }}" alt="header de la page administration">
            <h1 class="h1">Administration</h1>
            <h2 class="h2">workflow:</h2>
            <p>création d'un style > création d'un groupe > ajouts des membres | ajout des albums</p>
        </div>
    </div>
{% endblock %}
