{% extends 'base.html.twig' %}

{% block title %}Administration | Offoron records{% endblock %}

{% block body %}
    <div class="container admin" data-loader="{{ asset('build/images/audio.svg') }}">
        <div class="dropdown">
            {# <span><a class="dropdown-item back-to-admin">{{ pageName }}</a></span> #}
            <button class="btn dropdown-toggle" type="button" id="dropDownAdminMenuCreate" data-bs-toggle="dropdown" aria-expanded="true">
            Créations
            </button>
            <ul class="dropdown-menu" aria-labbeledby="dropDownAdminMenuCreate">
                <li><a class="dropdown-item create style">Créer Style</a></li>
                <li><a class="dropdown-item create band">Créer Groupe</a></li>
                <li><a class="dropdown-item create album">Créer un Album</a></li>
                <li><a class="dropdown-item create member">Créer un Membre</a></li>
            </ul>
            <button class="btn dropdown-toggle" type="button" id="dropDownAdminMenuModify" data-bs-toggle="dropdown" aria-expanded="true">
            Modifications
            </button>
            <ul class="dropdown-menu" aria-labbeledby="dropDownAdminMenuModify">
                <li><a href="#" class="dropdown-item edit style">Modifier Style</a></li>
                <li><a href="#" class="dropdown-item edit band">Modifier Groupe</a></li>
                <li><a href="#" class="dropdown-item edit album">Modifier Album</a></li>
                <li><a href="#" class="dropdown-item edit member">Modifier Membre</a></li>
            </ul>
        </div>
        
        <div class="main-display">
            
            {# le workflow #}
            <p class="text-muted">Choix dans le menu déroulant</p>
            {# home #}
            <template id="home">
                {% include "_partials/_homeAdmin.html.twig" %}
            </template>

            {# create band #}
            <template id="create-band">
                {% include "_partials/_createBand.html.twig" %}            
            </template>
            
            {# create style  #}
            <template id="create-style">
                {% include "_partials/_createStyle.html.twig" %}
            </template>
            
            {# rendering #}
            <div class="rendering"></div>

        </div>
    </div>
{% endblock %}
