{% extends 'base.html.twig' %}

{% block title %}Administration | Offoron records{% endblock %}

{% block body %}
    <div class="container admin">
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropDownAdminMenu" data-bs-toggle="dropdown" aria-expanded="true">
            Créations
            </button>
            <ul class="dropdown-menu" aria-labbeledby="dropDownAdminMenu">
                <li><a href="#" class="dropdown-item">Créer Style</a></li>
                <li><a href="#" class="dropdown-item">Créer Groupe</a></li>
                <li><a href="#" class="dropdown-item">Créer un Album</a></li>
                <li><a href="#" class="dropdown-item">Créer un Membre</a></li>
            </ul>
            <button class="btn dropdown-toggle" type="button" id="dropDownAdminMenu" data-bs-toggle="dropdown" aria-expanded="true">
            Modifications
            </button>
            <ul class="dropdown-menu" aria-labbeledby="dropDownAdminMenu">
                <li><a href="#" class="dropdown-item">Modifier Style</a></li>
                <li><a href="#" class="dropdown-item">Modifier Groupe</a></li>
            </ul>
        </div>
        
        <div class="main-display">
            <img src="{{ asset('build/images/header-offoron.png') }}" class="header-admin" alt="header de la page administration">
            <h1 class="display-3">Administration</h1>
            <h2 class="display-6">workflow:</h2>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Créer Style</li>
                    <li class="breadcrumb-item">Créer Groupe</li>
                    <li class="breadcrumb-item">Créer Membre</li>
                    <li class="breadcrumb-item">Créer Album</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
