body{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 93%, rgba(255,235,235,1) 100%);
    // background: linear-gradient(-45deg, #ffffff, #f5f5f5, #e2e2e2, #aaaaaa);
    // background-repeat: no-repeat;
    // background-size: 100%;
    // animation: gradient 15s ease infinite;
    // background-size: 400% 400%;
    height: 100vh;
}
/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */
a {
    cursor: pointer;
}
.dropdown{
    background-color: #fff;
    box-shadow: $shadow-2;
    border-radius: $strong-radius;
    margin: .5rem 0;
}
button:focus:not(:focus-visible) {
    box-shadow: $outline;
}
.main-display{
    .header-admin{
        width: 100%;
        box-shadow: $shadow-5;
        border-radius: $card-radius;
    }
}
.admin{
    border-radius: $light-radius;
    padding: 1rem;
    background-color: $white;
}
