.admin {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
label {
    margin-top: .5rem;
}
input{
    margin-top: .5rem;
}
textarea {
    margin-top: .5rem;
}
.validate {
    margin-top: .5rem;
}
/* .form-group {
    width: 200px;
} */