<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ asset('build/images/inversed_offoron.png') }}" type="image/x-icon">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
           {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>

            {% include "_partials/_header.html.twig" %}

            {% block body %}
                ICI LE BODY
            {% endblock %}

            {% block footer %}
                ICI LE FOOTER
            {% endblock %}
            
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
