{% extends "base.html.twig" %}

{% block body %}
    <h1 class="h1">Liste des groupes :</h1>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </form>
    {% for band in bands %}
        <button type="button" id="access" class="btn btn-outline-dark" data-target="{{band.id}}">{{band.name}}</button>        
    {% endfor %}
{% endblock %}